h1 
{
    text-align: center;
    color: rgb(0, 255, 51);
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
}
h2
{
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
body
{
    font-family: 'Dancing Script', cursive;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    align-items: center;
    color: rgb(0, 2, 4);
}
div
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: ridge;
    border-top: 0ch;
    border-color: deepskyblue;
    border-radius: 10px;
}
#p1
{
    background-color: rgb(0, 200, 100);
}
#p2
{
    color: aliceblue;
}
#p3
{
    background-color: rgb(100, 0, 51);
}
#p4
{
    color: aliceblue;
}
#p5
{
    color: cadetblue;
}
figure > img
{
    width: 300px;
    margin-bottom: 10rem;
    float: right;
    margin-right: 10px;
}
.img
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 25px; 
}